<mat-toolbar color="primary">
  <mat-toolbar-row routerLink="solicitud">
    <span>Solicitud credito</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">attach_money</mat-icon>
  </mat-toolbar-row>
   
  <mat-toolbar-row routerLink="lista">
    <span>Listas</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">format_list_numbered</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
